{{# partial "titulo"}}
    <title>Rescate de Patitas - Mascotas En Adopción</title>
{{/partial}}

{{# partial "main"}}
    <div class ="container mt-5 mb-2">
        <div class="row g-3 align-items-center">
            <form class="d-flex">
                <div class="col">
                    <input class="form-control me-2" type="search" placeholder="Lugar" aria-label="Buscar">
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tipo de Mascota</option>
                        <option value="1">Gato</option>
                        <option value="2">Perro</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tamaño</option>
                        <option value="1">Pequeño</option>
                        <option value="2">Mediano</option>
                        <option value="2">Grande</option>
                    </select>
                </div>
                <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
        </div>
        <div class="row g-3 mt-2 mb-2">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.elindependiente.com/wp-content/uploads/2019/08/dia-gato.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lola</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Femenino</li>
                            <li>Tamaño: Mediano</li>
                            <li>Descripción: Se lleva bien con los niños</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.europeandailynews.org/wp-content/uploads/2019/09/perro-animal-vertebrado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pepe</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Masculino</li>
                            <li>Tamaño: Pequeño</li>
                            <li>Descripción: Se lleva bien con los niños</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.significados-nombres.com/wp-content/uploads/2017/10/perro-hembra-grande.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mila</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Femenino</li>
                            <li>Tamaño: Grande</li>
                            <li>Descripción: Le gustan las milanesas</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mt-2 mb-2">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.elindependiente.com/wp-content/uploads/2019/08/dia-gato.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lola</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Femenino</li>
                            <li>Tamaño: Mediano</li>
                            <li>Descripción: Se lleva bien con los niños</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.europeandailynews.org/wp-content/uploads/2019/09/perro-animal-vertebrado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pepe</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Masculino</li>
                            <li>Tamaño: Pequeño</li>
                            <li>Descripción: Se lleva bien con los niños</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.significados-nombres.com/wp-content/uploads/2017/10/perro-hembra-grande.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mila</h5>
                        <p class="card-text">Características</p>
                        <ul>
                            <li>Sexo: Femenino</li>
                            <li>Tamaño: Grande</li>
                            <li>Descripción: Le gustan las milanesas</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-danger">Quiero adoptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.html.hbs }}

